Cadenas : no cambian 
van entre  '', " "

In [1]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

Agrgar a una variable

In [2]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

Comilllas:

In [3]:
"We only see about 60% of the Moon's surface"
'The "near side" is the part of the Moon that faces the Earth'

# es lo mismo en ambos casos

'The "near side" is the part of the Moon that faces the Earth'

In [4]:
# erros, cambinar comillas '' y " "
'We only see about 60% of the Moon's surface'
  File '<stdin>', line 1
    'We only see about 60% of the Moon's surface'
                                       ^
SyntaxError: invalid syntax

SyntaxError: invalid syntax (1739854095.py, line 2)

In [5]:
#uso de comillas triples para eviytar problemas
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

Texto multilinea :  \n

In [7]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [11]:
multiline = """Facts about the Moon:
There is no atmosphere.
There is no sound."""
print(multiline)
# al inicio del renglón y solo escribes en la linea de abajo

Facts about the Moon:
There is no atmosphere.
There is no sound.

Métodos string en Python

In [12]:
#aplicado en cadena
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [13]:
#aplicado en una varible

heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

Dividir una cadena:  .split()

método de cadena   -   método de cadena
crearía una lista de cada palabra

In [15]:
temperatures = '''Daylight: 260 F
Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [16]:
temperatures .split('\n')
#aplica lo mismo pero por lineas

['Daylight: 260 F', 'Nighttime: -280 F']

Buscar una cadena
 'palabra' in '  cadena '

In [17]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [18]:
'Moon' in 'This text will describe facts about the Moon'

True

Metodo: .find('Palabra')

-1   -  no se encuentra la palabra

In [19]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [21]:

temperatures.find('Moon')

-1

In [22]:
temperatures.find('Mars')
# 68 es la posición donde aparece en la cadena 'Mars'.

64

método    .count()

número total de apariciones de una determinada palabra en una cadena

In [23]:
temperatures.count('Mars')

1

In [24]:
temperatures.count('Moon')

0

MAYUSCULAS y minusculas

' cadena'.lower()

' cadena'.upper()

In [25]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [ ]:
'The Moon And The Earth'.upper()

Comprobar el contenido

In [26]:
temperatures = 'Mars Average Temperature: -60 C'

In [27]:
parts = temperatures.split(':')
# separa en una lista lo que esta antes y despues de :
parts

['Mars Average Temperature', ' -60 C']

In [28]:
parts[-1]
# -1 es el ultimo elemento

' -60 C'

Métodos  - tipo de cadena - 

.isnumeric()

In [31]:
mars_temperature = 'The highest temperature on Mars is about 30 C'

In [33]:
for item in mars_temperature.split( ):
    if item.isnumeric():
        print(item)

# Separa en una lsita cada elementpo si hay un espacio
# buca si hay un nùmero 
# lo imprime

30

# .isdecimal()

In [34]:

"-70".isnumeric()
# no funciona si hay -

False

método : .startswith()

In [35]:
'-60'.startswith('-')

True

In [37]:
# .endswith(" palabra o lo que busquemos ")
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

Transformar texto

In [38]:

'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [39]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [40]:
'temperatures' in text.lower()

True

Unir:

In [44]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

In [46]:
['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year'].join()

AttributeError: 'list' object has no attribute 'join'

Formato con signo de porcentaje (%)

In [48]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)
# solo para uno

On the Moon, you would weigh about 1/6 of your weight on Earth

In [50]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

    #para varias palabras

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [51]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [52]:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [53]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth